
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(270, 20%, 96%);
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

/* **********container********* */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ********APP********** */
.mobile{
    border:  8px solid #fff;
    border-radius: 15px;
    background: hsl(270, 20%, 96%);
    width: 306px;
    box-shadow: 10px 10px 30px lightgrey;
}

.speaker{
    position: absolute;
    width: 170px;
    height: 19px;
    background-color: white;
    margin-left: 64px;
    border-radius: 0 0 16px 15px;
}

.name-sec{
    display: flex;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    font-size: 10px;
    padding: 24px 0px 10px 0px;
    color: #fff;
    border-radius: 15px 15px 0 0;

}

.name-sec .name{
    margin-top: 10px;
    font-size: 8px;
    margin-left: 5px;

}

.name-sec i{
    font-size: 15px;
    align-self: center;
    margin-left: 10px;
    margin-top: 10px;
}
.name-sec img{
    border:1px solid #fff;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 50% 50%;
}

.name-sec .fa-ellipsis-v{
    margin-left: 90px;
    font-size: 15px;
    align-self: center;
}

/* *******************Message************** */
.message{
    width: 65%;
    background-color: hsl(206, 6%, 79%);
    color: hsl(276, 55%, 52%);
    margin: 8px;
    padding: 7px;
    border-radius: 12px;
}

/* *********** radio btn************** */
.price{
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    display: flex;
    color: #fff;
    margin: 8px;
    align-items: center;
    width: 74%;
    height: 36px;
    border-radius: 12px 12px 12px 4px;
}
.price p{
    margin-left: 8px;
}
.price h4{
    margin-left: 40px;
}
.price .h4-49{
    margin-left: 65px;
}
.radio-btn{
    border: 1px solid #fff;
    height: 15px;
    width: 15px;
    margin-left: 8px;
    border-radius: 50%;
}



/* ******************* reply ********************* */
.reply{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}
.reply .reply-1, .reply-2{
    background-color: #fff;
    color: hsl(271, 15%, 43%);
    margin-bottom: 10px;
    width: 64%;
    border-radius: 12px;
    margin-right: 5px;
    padding: 6px 0px 7px 5px;

}
.reply-2{
    width: 40%;
    height: 30px;
}
.images img{
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
}



.type-msg{
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 25px;
    padding: 7px;
    color: hsl(206, 6%, 79%);
    margin: 15px;

}
.type-msg .send-icon{
    background: hsl(271, 36%, 24%);
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 4px;
    text-align: center;
    margin-left: 112px;
    
    
}
/* **********Paragraph********** */
.paragraph{
    width: 340px;
}
.paragraph h1{
    color: hsl(271, 36%, 24%);
    text-align: center;
}
.paragraph p{
    color: hsl(270, 7%, 64%);
}
 